
.three {
    display: flex;
    margin: 10px;
    width: 100%;
}
.four {
    display: flex;
    padding-bottom: 100px;
}
.portt {
   border: solid white;
}
ul {
    display: flex;
    justify-content: end;
}
li {
    list-style: none;
    font-weight: bold;
    padding: 10px;
    margin-right: 20px;
}
.three-left {
    
}
.three-right {
    margin: 10px;
    padding: 10px;
    flex: 1;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}
.one {
    display: block;
    background-color: #1f2937;
    color: #f9faf8;
}
.two {
    margin-left: 250px;
    margin-right: 250px;
}
.four-left h1 {
    font-weight: bold 48px;
}
body {
    background-color: black;
}
.sign-up {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 30px;
    color: #f9faf8;
    font-weight: bold;
    border-color: #3882f6;
}

.header-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-divone {
    background-color: aliceblue;
    margin-left: 250px;
    margin-right: 250px;
}
.section-two-container {
    background-color: aliceblue;
}
.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.boxes {
    border: 4px solid;
    border-color: #3882f6;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-text {
    text-align: center;
    margin: 10px;
}
.box-decoration {
    display: block;
    justify-content: center;
    align-self: center;
    margin: 10px;
    padding: 10px;
}
.reviews {
    background-color: #e5e7eb;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;    
}
.reviews p {
    font-style: italic;
    font-size: 30px;
    padding-top: 100px;
    margin: 1px;
}
.reviews h6 {
    justify-self: flex-end;
    align-self: flex-end;
    font-size: 26px;
    margin: 2px;
}
.reviews-container {
    background-color: #e5e7eb;
    
}
.reviewer-name {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.r-main-container {
    background-color: #e5e7eb;
}

.main-container {
    background-color: white;
    align-items: center;
    justify-content: center;
}

.mini-div {
  background-color: #3882f6; 
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 70px;
  border-color: white;
  border-radius: 80px;
  padding: 20px;
  border-width: 50px;
}

   


.call-left {
    color: #e5e7eb;
    display: block;
    margin-right: 70px;
}

.sign-up-now {
  background-color: #3882f6;
  border-radius: 10px;
  border: solid 3px;
  padding: 7px 40px;
  border-color: white;
  color: white;
  font-weight: bold;
}

.maindiv {
    background-color: none;
}
.footer {
    background-color: #1f2937;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
footer {
    margin: 40px 0;
    font-weight: bold;
}